.item {
  text-overflow: ellipsis;
  overflow-x: hidden;

  .itemLabel {
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
  }

  .actions {
    display: inline;
    visibility: hidden;
  }
  
  .tags {
    display: inline;
  }
  
  .btn-group {
    margin-right: 5px;
  }

  &:hover {
    .actions {
      visibility: visible;
    }
  }
}
