@import './utils.scss';

.headerRow {
  padding: 7.5px 3px 0px 2.5px;
  height: 45px;
}

.topRow {
  padding: 7.5px 2.5px 2.0px;
  height: calc(52.5vh - 45px);
}

.bottomRow {
  padding: 2.0px 2.5px 7.5px;
  height: 47.5vh;
}
