$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 5px;

@import "~bootswatch/slate/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/slate/bootswatch";
@import "~css-electron-reset/index.css";

:global button, button:hover {
  cursor: default !important;
}

:global ::-webkit-scrollbar {
  background: #333;
  width: 10px;
}
:global ::-webkit-scrollbar-thumb {
  background: #888;
}

:global #root {
  height: 100vh;
  overflow: hidden;
}
