$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 5px;

@import "~bootswatch/slate/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/slate/bootswatch";
@import "~css-electron-reset/index.css";

button, button:hover {
  cursor: default !important;
}

.close {
  color: #FFF !important;
  text-shadow: 0 1px 0 #000 !important;
}

::-webkit-scrollbar {
  background: #333;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

#root {
  height: 100vh;
  overflow: hidden;
}
