@import '../../../node_modules/@blueprintjs/core/lib/less/variables';

html {
    height: 100vh;
}

body {
    height: 100%;
    // margin: 0px;
    // padding: 5px;
    background-color: @pt-dark-app-background-color;
    overflow: hidden;
}

*:focus {
    outline: none;
}

#root {
    height: 100%;
}