.timelineTrigger {
  position: absolute;
  color: #FFF;
  width: 1px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: ew-resize;
  
  &:hover {
    z-index: 999;
    overflow: visible;
  }

  &.lightTrigger {
    .timelineTriggerLabel {
      color: #000;
    }
  }

  .timelineTriggerLabel {
    pointer-events: none;
    display: inline-block;
    padding: 3px;
    font-size: 0.9em;
    white-space: nowrap;
  }
}