.timelineItem {
  position: absolute;
  color: #FFF;
  height: 100%;
  overflow: hidden;
  display: flex;

  &:hover {
    z-index: 10;
    overflow: visible;
  }

  &.lightColor {
    color: #000 !important;
    
    .header {
      border-bottom-color: #000 !important;
    }
    .leftAnchor {
      border-right-color: #000 !important;
    }
    .rightAnchor {
      border-left-color: #000 !important;
    }
  }
  
  .header {
    width: 100%;
    height: 33%;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #FFF;
    
    .controls {
      flex-grow: 1;
      
      &.leftControls {
        
      }
      
      &.rightControls {
        text-align: right;
      }
    }
    
    .anchors {
      width: 0;
      height: 0;
      position: absolute;
      cursor: ew-resize;
      
      &.leftAnchor {
        left: 0;
        border-right: 10px solid #FFF;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        
        &:hover {
          border-right-color: #999 !important;
        }
      }
      
      &.rightAnchor {
        right: 0;
        border-left: 10px solid #FFF;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        
        &:hover {
          border-left-color: #999 !important;
        }
      }
    }
    
    .itemLabel {
      display: table-cell;
      vertical-align: middle;
      line-height: 0.9em;
      text-align: center;
      flex-grow: 2;
      font-size: 0.8em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  
  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 66%;
  }
}

.timelineSimpleItem {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 1px;
  color: #FFF;
  cursor: ew-resize;
  
  &:hover {
    z-index: 10;
    overflow: visible;
  }
  
  &.simpleLightColor {
    color: #000 !important;
  }
  
  .labelFlag {
    position: absolute;
    left: 1px;
    padding: 2px;
    line-height: 0.9em;
    font-size: 0.8em;
    pointer-events: none;
  }
}